*{
    padding: 0; margin: 0; box-sizing: border-box;
}

body{
    height: 900px;
}

header {
	background: url(img/logo.png);
	text-align: center;
	width: 100%;
	height: 80%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 10% 10% / 2%;
}

header .overlay{
    
	width: 100%;
	height: 100%;
	padding: 120px;
	color: #FFF;
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

header .menu{
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    align-items: center;
    
}

@font-face {
    font-family: 'Jelly';
    src: url('Jelly Anika.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

  }

h1 {
	font-family: 'Jelly';
    font-size: 50px;
    color: black;
	
}

h3, p {
	font-family: 'Jelly';
	margin-bottom: 30px;
}

h2 { 
    text-align: center;
    font-family:'Jelly';
    font-size: 30px;
    color: white;
}

h4{
    font-family: 'Jelly';
	margin-bottom: 13px;
    text-align: center;
}


* {
    box-sizing: border-box;
}

body{
    background:#000;
}
  
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.0s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: purple;
    color: white;
    transform: rotateY(180deg);
}
  
.column {
    float: left;
    width: 25%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

#menu a:hover {
    background: #E5F0FF;
}


* {
    margin: 0 auto;
    padding: 0;            
}

#menu-h{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;        
}

.baixo{
    padding-top: 30%;

}

#menu-h ul {
    max-width: 900px;
    list-style: none;
    padding: 8px;   
}

#menu-h ul li {
    display: initial;
    font-size: 20px;               
}

#menu-h ul li a {
    color: #FFF;
    padding: 8px;
    display: inline-block;
    text-decoration: none; 
}

#menu-h ul li a:hover {
    background-color: purple;            
} 



.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Jelly';
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgb(162, 0, 255) 0%, rgb(162, 0, 255) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(162, 0, 255);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid 162, 0, 255;
    box-shadow: 0 0 60px rgb(162, 0, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid rgb(162, 0, 255);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }